examples {
  ["basic.tfvars"] {
    """
    one = 1
    two = "two"
    three = true
    four = [1, 2, 3]
    """
  }
  ["pretty.tfvars"] {
    """
    one   = 1
    two   = "two"
    three = true
    four  = [1, 2, 3]
    """
  }
}
